s1-requirements.log
s2-requirement_traces.log
s3-testcases.log
s4-testcase_traces.log

*.csv
Desc-REQ*.txt
run-output-*

Print-UserStory.rb.orig
desc0-REQ36721-orig.txt
desc0-REQ36721-reduced.txt
desc1.txt
desc2.txt
desc3.txt
x-3.1.2.txt
x-3.1.txt
x-3.txt
x.b64.decoded.txt
x.b64.encoded.txt
x.html
x2.html

dog.html
x-logger-example.rb
x.log

.metadata
