my_vars.rb

s1-requirements.log
s2-requirement_traces.log
s3-testcases.log
s4-testcase_traces.log

caliber_requirements.csv
caliber_testcases.csv
story_oids_by_reqname.csv
testcase_oids_by_testcaseid.csv
